header{
    border: solid 1px black;
    width: 1250px;
    height: 100px;
}
@media (max-width: 769px){
    header{background-color: blue;
    }
}
@media (min-width: 425px){
    header{background-color: aquamarine;
    }
}
@media (min-width: 1024px) {
    header{background-color: brown;
    }   
}